// src/App.jsx
import React from 'react';
import Header from './Header';
import Hero from './Hero';
import CardGrid from './CardGrid';
import Footer from './Footer';

function App() {
  return (
    <> {/* Fragment */}
      {/* Header dipindahkan ke luar container */}
      <Header />

      <div className="container">
        <main>
          <Hero />
          <h2 className="section-title">Lorem Ipsum</h2>
          <CardGrid />
        </main>
      </div>
      
      {/* Footer sudah di luar */}
      <Footer />
    </>
  );
}

export default App;